# For PCBs designed using KiCad: http://www.kicad-pcb.org/
# Format documentation: http://kicad-pcb.org/help/file-formats/

*.b\#*
*.s\#*
*.job
*.pro
*.epf
*.kicad_prl
fab
*-cache*
panel.*
*-bak
*.lck
